.diagram {
  display: grid;
  border: 0;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  height: 600px;
  gap: 45px;

  &__section {
    display: grid;
  }

  &__bar-icons {
    display: flex;
    gap: 16px;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    z-index: 1;
    column-gap: 1px;
    height: 48px;
  }
  &__row--lines {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $white;
    grid-template-columns: repeat(21, 1fr);
  }

  &__row--lines span {
    display: block;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__row--lines span.dashed {
    border-right: 2px dashed #8a969d;
    z-index: 2;
  }

  &__row-bars {
    display: grid;
    margin: 0;
    grid-template-columns: repeat(21, 1fr);
  }

  &__row-bars--first {
    grid-column: 1/10;
  }

  &__row-developer {
    width: 145px;
    height: 32px;
    grid-column: 1/3;
    background-color: #ECEFF1;
    border-radius: 100px;
    padding: 8px 8px 8px 12px;
    color: #263238;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    min-height: 32px;
    @include display;
  }

  //DEVELOPERS TEAM
  &__bar-first {
    display: flex;
    gap: 1px;
  }

  &__bar-design {
    grid-column: 1/5;
    background-color: $blue;
    @include bar;
  }

  &__bar-chart {
    grid-column: 5/11;
    background-color: $green;
    @include bar;
    @include display;
  }

  &__bar-dashboard {
    grid-column: 7/11;
    background-color: $orange;
    @include bar;
    @include display;
  }

  &__bar-backup {
    grid-column: 11/17;
    background-color: $orange;
    z-index: 9;
    @include bar;
    @include display;

    &:before {
      right: 90%;
      background: #f58224;
      @include before;
    }
  }

  &__bar-purchaising {
    grid-column: 17/22;
    background-color: $blue;
    font-weight: 700;
    width: calc(100% + 10px);
    @include bar;
    @include display;
  }

  &__bar-purchaisnow {
    grid-column: 6/10;
    background-color: $salmon;
    height: 32px;
    @include bar;
    line-height: 18px;
    @include display;
  }

  &__bar-self {
    grid-column: 10/16;
    background-color: $green;
    height: 32px;
    @include bar;
    line-height: 18px;
    @include display;
  }

  &__bar-boost {
    grid-column: 16/21;
    background-color: $blue;
    height: 32px;
    @include bar;
    line-height: 18px;
    @include display;
  }

  //DESIGNERS TEAM
  &__bar-kit {
    grid-column: 1/5;
    background-color: #E289F2;
    @include bar;
    @include display;
  }

  &__bar-ux {
    background-color: $blue;
    @include bar;
  }

  &__bar-ux--one {
    grid-column: 5/8;
  }

  &__bar-ux--two {
    grid-column: 8/11;
  }

  &__bar-ux--three {
    grid-column: 11/14;
  }

  &__bar-material {
    grid-column: 17/22;
    background-color: #E289F2;
    line-height: 24px;
    width: calc(100% + 10px);
    @include bar;
    @include display;
  }

  &__bar-android {
    grid-column: 5/11;
    background-color: $green;
    z-index: 9;
    @include bar;
    @include display;

    &:before {
      right: 25%;
      background: $dark-green;
      @include before;
    }
  }

  &__bar-minimal {
    background-color: $green;
    grid-column: 11/15;
    @include bar;
  }

  &__bar-prototyping {
    background-color: $orange;
    grid-column: 15/17;
    @include bar;
  }

  &__bar-gui {
    background-color: #E289F2;
    grid-column: 17/20;
    @include bar;
    @include display;
  }

  //  MARKETING TEAM
  &__bar-fits {
    background-color: $orange;
    grid-column: 1/6;
    @include bar;
    @include display;
  }

  &__bar-presentation {
    background-color: $blue;
    grid-column: 6/11;
    @include bar;
  }

  &__bar-purchaisingfigma {
    background-color: #E289F2;
    grid-column: 11/16;
    @include bar;
    @include display;
  }

  &__bar-premium {
    grid-column: 18/22;
    background-color: $dark-green;
    width: calc(100% + 10px);
    @include bar;
    @include display;
  }

  &__bar-deploy {
    background-color: #E289F2;
    grid-column: 3/11;
    z-index: 1;
    @include bar;
    @include display;

    &:before {
      right: 76%;
      background: #d451f1;
      @include before;
    }
  }

  &__bar-database {
    background-color: $orange;
    grid-column: 11/17;
    @include bar;
    @include display;
  }

  &__bar-ohno {
    background-color: $salmon;
    grid-column: 17/20;
    @include bar;
    @include display;
  }
}
