.header{
  display: flex;
  justify-content: space-between;
  &__options{
    display: grid;
    width: 45%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 8px;
  }
  &__option {
    display: flex;
  }
  &__content{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__title{
    font-size: 24px;
    line-height: 28px;
    color: $grey-blue;
  }
  &__subtitle{
    font-size: 16px;
    line-height: 24px;
    color: $dark-grey-blue;
  }
  &__description{
    font-size: 12px;
    line-height: 16px;
    color: $dark-grey-blue;
    margin-left: 8px;
  }
}

.header-year {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: $dark-grey-blue;
    padding: 24px 0;
  }
