@mixin bar() {
  border-radius: 4px;
  padding: 8px;
  color: $white;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;

  transition: 0.2s;
  &:hover {
    box-shadow: $grey-blue 0px 5px 10px 0px;
    transform: translatey(-5px);
  }
}

@mixin display {
  display: flex;
  justify-content: space-between;
}

@mixin before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
